body {
	text-align: center;
	margin: 0;
	color: #767676;
}

header {
	background-color: #ffffff;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif; 
	padding: 5%;
}

nav {
	background-color: #ffffff;
	padding: 0 auto;
	float: right;
	display: inline;
}

#aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20%;
}


footer {
	background-color: #767676;
	padding: 1%;
}

.description {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20%;
}

h1{
	font-family: 'Archivo Narrow', sans-serif;
	color: #00A699;
	font-size: 10em;
	margin: 0;
	padding: 0;
	border: 0;
}

p{
	text-align: center;
	color: #000000;
	margin: 0;
}

p#list_title {
	font-size: 12em;
}

ul.list {
	font-size: 5em;
	float: right;
	color: #767676;
	list-style: none;
	padding: 0;
	margin:0;
}

#two_column {
    background-color: #ffffff;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#left {
    background-color: ffffff;
    padding: 10px;
    display: inline-block;
    list-style: none;
}

.logo {
	width: 7%;
	float: left;
	padding: 1%;
}

.hero {
	width: 75%;
}