body {
	text-align: center;
	font-family: 'Josefin Slab', serif;
	margin: 0;
	color: #767676;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

#aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

#article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

#one {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

.description {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

h1{
	font-family: 'Archivo Narrow', sans-serif;
	color: #00A699;
	font-size: 72px;
	margin: .05em;
	letter-spacing: 2px;
}

p{
	text-align: center;
	color: #767676;
	margin: 0;
}

p#list_title {
	font-size: 36px
}

ul#list {
	font-size: 30px;
	width: 100px;
	margin:0 auto;
	color: #767676;

}

.image {
	width: 75%;
}