body {
	text-align: center;
	margin: 0;
	color: #767676;
}

header {
	background-color: #ffffff;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif; 
	padding: 20px;
}

nav {
	background-color: #ffffff;
	padding: 0 auto;
	float: right;
	display: inline;
}

#aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

#article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 10px;
}

.description {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

h1{
	font-family: 'Archivo Narrow', sans-serif;
	color: #00A699;
	font-size: 72px;
	margin: .05em;
	letter-spacing: 2px;
}

p{
	text-align: center;
	color: #767676;
	margin: 0;
}

p#list_title {
	font-size: 36px
}

ul.list {
	font-size: 16px;
	width: 50%;
	float: right;
	color: #767676;
	list-style: none;
	padding: 0;
	margin:0;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
    display: inline-block;
    list-style: none;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}

.logo {
	width: 10%;
	float: left;
}

.hero {
	width: 100%;
}